.button {
  border: 2px solid var(--primary-blue);
  background-color: white;
  border-radius: 5px;
  font-family: var(--font2);
  font-weight: 700;
  color: var(--primary-blue);
  padding: 10px;
}

.button:hover {
  background-color: var(--primary-blue);
  color: white;
  cursor: pointer;
  transition-duration: 125ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
