/* APP */

.app {
  width: 100%;
  height: 100vh;
}

/* GRID HEADER */

.grid-section {
  margin: 0 auto;
  padding: 20px 10px;
}

.grid-title {
  font-family: var(--font1);
  text-align: center;
  font-size: 25px;
  color: var(--primary-gray);
  padding: 20px;
}

.grid-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-wrapper {
  position: relative;
}

.input-wrapper > input {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  background: 0 0;
  border: 1px solid lightgray;
  font-size: .95em;
  font-family: var(--font2);
  outline-color: var(--primary-blue);
  color: black;
  padding: 10px 10px 10px 35px;
  margin: 0 auto 20px;
  box-shadow: none;
}

.input-wrapper:hover > input {
  outline-color: var(--primary-blue);
  border-color: var(--primary-blue);
  transition-duration: 150ms;
}

.search-icon {
  transition: all .3s ease;
  position: absolute;
  top: 12px;
  left: 10px;
  fill: #99aab6;
} 

.button {
  border: 2px solid var(--primary-blue);
  background-color: white;
  border-radius: 5px;
  font-family: var(--font2);
  font-weight: 700;
  color: var(--primary-blue);
  padding: 10px;
}

.button:hover {
  background-color: var(--primary-blue);
  color: white;
  cursor: pointer;
  transition-duration: 125ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* GRID SECTION */

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  max-width: 922px;
  border-radius: 5px;
  margin: 40px auto;
  grid-row-gap: 50px;
  padding: 20px 0 80px;
  background-color: var(--second-gray);
}

.pagination-wrapper {
  display: flex;
  max-width: 922px;
  align-items: center;
  justify-items: center;
  background-color: antiquewhite;
  
  margin-top: 20px;
}

.pagination-title {
  text-align: center;
}

@media (min-width: 840px) {
  .grid-section {
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px 40px;
  }

  .grid-title {
    font-family: var(--font1);
    text-align: center;
    font-size: 28px;
    color: var(--primary-gray);
    padding: 0 20px;
  }

  .grid-wrapper {
    width: 650px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    margin: 60px auto;
    padding: 30px 50px;
  }

  
  .grid-header {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .input-wrapper > input {
    margin: 0;
  }
  
  .button {
    margin-left: 20px;
  }
  
  .pagination-wrapper {
    display: flex;
    max-width: 922px;
    background-color: antiquewhite;
    margin: 30px auto;
  }
}