.footer-bar {
  padding: 0 20px 20px;

  max-width: 1024px;
  margin: 0 auto;
}

.footer-bar-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  width: 75px;
  height: auto;

  margin: 10px 0;
}

.footer-box {
  font-family: var(--font2);
  font-size: 14px;
}

.footer-box > p {
  text-align: center;
}

.footer-box > p > a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
.footer-box > p > a:hover {
  color: var(--primary-blue);
  transition-duration: 150ms;
}

@media (min-width: 768px) {
  .footer-bar-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer-logo {
    width: 50px;
    height: auto;

    margin: 0px;
  }
  
  .footer-box > p {
    text-align: left;
  }
}